<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" style="font-size: 14px" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
     
    {% if include.link_title == false or post.link_title == false %}
  <span style="font-size: 14px">{{ title }}</span>
{% elsif post.link %}
  <a style="font-size: 14px" href="{{ post.link }}">{{ title }}</a> 
{% else %}
  <a style="font-size: 14px" href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a> 
{% endif %}
    
    {% if post.collection == 'publications'  %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.author }}. <i>{{ post.venue }}</i>. {{ post.date | default: "1900-01-01" | date: "%B %Y" }}. {{ post.code }}  </p>
    {% elsif post.collection == 'talks' %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.venue }}. <i>{{ post.location }}</i>. {{ post.date | default: "1900-01-01" | date: "%B %Y" }}. </p>
    {% endif %}
    
  </article>
</div>
